
.resume-form {
  background-image: url("../../images/resume_bkg.png");
  background-size: cover;
  margin: auto;
  /* border-radius: 3%; */
  width: 50%;
  
}

p {
    margin:auto;
    padding: 2px;
    text-align: center;
    width: 100%;
    font-size: 15px;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
}