
.resume-form {
  background-color: #EE9B00;
    padding: 10px 10px;
    width: 50%;
    border-radius: 10%;
    margin: auto;
}

p {
    margin:auto;
    padding: 2px;
    text-align: center;
    width: 100%;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
}