.about {
    display: flex;
}

.about-left{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-right {
    flex: 1px;
    padding: 80px;
}

.about-left-wrapper {
    padding: 80px;
    /* height: 80%;
    width: 80%; */
    /* background-color: #94d2bd; */
}

.about-hello {
    font-size: 30px;
    font-weight: 300;
}

.about-name {
    font-size: 60px;
    
}

.about-desc {
    font-size: 20px;

}

