

/* .contact-me {
  padding: 10px
} */

.contact-form {

  background-color: #EE9B00;
  max-width: 700px;
    margin: auto;
    padding: 50px;
    border: 10px solid #f2f2f2;
  

}



  /* label {
      padding: 10px;
      width: 25%;
      font-size: 20px;
      
  }
  
  input {
   
    padding: 5px;
    border: 1px solid black;
    outline: none;
    border-radius: 3px;
    transition: box-shadow 0.2s;
    width: 40%;
  }
  
  input:focus {
    border: 1px solid ;
    box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5);
  }

textarea {
  width: 50%;
} */
