/* 
section{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
  
} */

.contact-me {
  padding: 10px
}

form {
    width: 60%;
   
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    background-color: #EE9B00;
  }

  label {
      padding: 10px;
      width: 100%;
      font-size: 20px;
      
  }
  
  input {
   
    padding: 5px;
    border: 1px solid black;
    outline: none;
    border-radius: 3px;
    transition: box-shadow 0.2s;
    width: 40%;
  }
  
  input:focus {
    border: 1px solid ;
    box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5);
  }

textarea {
  width: 50%;
}
